@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&family=Lato&family=Open+Sans&family=Source+Sans+Pro&display=swap');
.weather-body {
  height: 100vh;
  font-family: "Anek Devanagari", sans-serif;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  color: #1116e2;
}
.weather-main-2 {
  /* border: 1px solid green; */
  height: 85vh;
}
.current-location {
  /* border: 1px solid yellow; */
  margin-top: 5px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
.country-name {
  color: green;
}
.title-search {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 15px;
  color: #260474;
}
.main-search {
  display: flex;
  justify-content: center;
  width: 99.5%;
  margin-left: 3px;
}
@media only screen and (min-width: 690px) {
  .city-name,
  .zip-code,
  .search-button {
    margin-left: 10em;
    
  }
}


.search-button {
  padding-top: 5px;
}
.display-mainbox{
     margin-top: 40px;
   display: flex;
   justify-content: center;
   height: 375px;
}

.display-innerbox{
  border: 1px solid #3c2b64;
  background: linear-gradient(30deg, #1111D6 0%, #fff 100%);
  width: 60%;
  margin-top: 20px;
  height: 280px;
  border-radius: 18px;
}
@media only screen and (max-width: 450px){
  .display-innerbox{
    width: 90%;
  }
  .city-name, .zip-code{
    border: 1px solid blue;
   width: 5em;
  }
  .zip-code{
    margin-left: 25px;
  }
  .search-button{
 font-size: 8px;
  margin-left: 35px;
  }
}
.date{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
padding-left: 30px;
}
.time{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 3.0rem;
  padding-left: 0.3em;
  margin-top: 20px;
}
.temperature-box{
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
  color: white;
  margin-top: 30px;
}
.val{
  font-size: 1.5rem;
  text-align: center;
}
